<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.love.product.mapper.FollowMapper">

    <insert id="add" parameterType="com.love.product.entity.Follow" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
            s_follow
            (
                id,
                user_id,
                be_followed_user_id,
                deleted,
                create_time,
                update_time
            )
        values
            (
                #{id},
                #{userId},
                #{beFollowedUserId},
                #{deleted},
                #{createTime},
                #{updateTime}
            )
        ON DUPLICATE KEY UPDATE
                             deleted     = values(deleted),
                             update_time = values(update_time)
    </insert>

</mapper>
