<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <mapper namespace="com.love.product.mapper.PostsMapper">

        <select id="getImgPathById" resultType="string">
            SELECT img_path
            FROM posts
            WHERE id = #{id}
        </select>
    <select id="getPostsById" resultType="com.love.product.entity.Posts">
        SELECT id,user_id,posts_type,title,description,content,school,price,cover_path,img_path,
               browse_num,collect_num,like_num,comment_num,version,status,deleted,create_time,update_time
        FROM posts
        WHERE id = #{id}
    </select>

    </mapper>
